.card-title a{
  color: #fff;
  letter-spacing: normal;
  font-family: 'Myriad-Regular';
}

#txtBriefing {
  font-family: Trebuchet MS;
  font-size: 16px;
  width: 394px;
  height: 100px
}

#btnEnvia {
  font-family: Trebuchet MS;
  font-size: 20px
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 230px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 10px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-header {
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 70px;  
  margin-bottom: 20px;
}

.sidenav-header > img{
  padding: 10px;
}

.sidenav-footer {
  position: fixed;
  width: inherit;
  border-top: 1px solid #fff;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #afafaf;
  /* background-color: rgb(37, 37, 37); */
  border-left: 5px solid rgb(73, 73, 73);
}

.sidenav-link {
  padding-left: 5px;
  background-color: rgb(54, 54, 54)
}

.sidenav-link a {
  font-size: 14px;
  color: #fff;
}

.sidenav-link a:hover {
  color: rgb(255, 217, 0);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  margin-left: 230px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 990px) {
  #main {
    margin-left: 0px;
  }
}

.gradient {
  background: rgb(20,53,172);
  background: linear-gradient(117deg, rgba(20,53,172,1) 0%, rgba(9,24,121,1) 54%, rgba(0,0,0,1) 100%);
}